@charset "utf-8";

/* Variables */
:root {
  /* Generic shades, from darkest to lightest */
  --bg0: #252525;
  --bg1: #2a2a2a;
  --bg2: #303030;
  --bg3: #353535;
  --bg4: #3a3a3a;
  --bg5: #404040;
  --bg6: #505050;
  --mg0: #888;
  --fg0: #aaa;
  --fg1: #ccc;
  --fg2: #eee;

  /* Specific colors */
  --link: #8cb3ff;
  --notice: #ffeb3b;

  /* Dimensions */
  --topic-height: 2em;
}

/* Basic Body Structure */
body {
  background: var(--bg0);
  color: var(--fg2);
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

#body_home {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: calc(var(--topic-height) + 4px) 0 4px;
}

body[type*=server] #body_home,
body[type*=query] #body_home {
  /* No topic here. */
  padding: 4px 0;
}

/* Message Lines */
.line {
  display: -webkit-flex;
  -webkit-flex-flow: row;
}

.message,
.sender,
.time {
  padding: 6px 8px;
}

.message {
  width: 100%;
}

.sender,
.time {
  background: var(--bg2);
}

.sender {
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10em;
  font-weight: 400;
}

body[type*=server] .sender {
  display: none;
}

.time {
  color: var(--mg0);
  font-size: 0.8em;
  text-align: center;
}

/* Make own messages stand out */
.line[nickname-type*=myself] .message {
  background: var(--bg1);
}

/* Make special messages blend in */
.line[type*=action] .message,
.line[type*=action] .sender {
  background: none;
  font-style: italic;
}

.event .sender {
  background: inherit;
}

body[type*=channel] .event .message {
  color: var(--mg0);
}

body[type*=server] .event .message {
  color: var(--fg0);
}

/* Make my highlights stand out */
.text[highlight*=true] .sender,
.text[highlight*=true] .message,
.text[highlight*=true] .time {
  background-color: var(--bg6);
}

/* Notices have a yellow bar */
body [type*=notice] .sender {
  border-left: 4px solid var(--notice);
  width: calc(10em - 4px);
  color: var(--notice);
}

/* Horizontal lines */
.znc-playback-end {
  border-bottom: 1px dashed var(--mg0);
}

.znc-playback-start {
  border-top: 1px dashed var(--mg0);
}

#mark {
  border-bottom: 1px dotted var(--mg0);
  margin: 1px 0;
  -webkit-transition: 0.2s linear;
}

/* Loading Screen */
body div#loading_screen {
  -webkit-transition: opacity 0.8s linear;
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40%;
  text-align: center;
  font-size: 2em;
  background: var(--bg0);
  color: var(--mg0);
}

/* Topic Bar (scrollable, one-line) */
#topic_bar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topic-height);
  white-space: nowrap;
  overflow: auto;
  background: var(--bg1);
  border-bottom: 1px solid var(--bg5);
  color: var(--fg1);
  line-height: 1.8;
  padding: 4px 12px 2px;
}

/* Images */
a img {
  border: 0;
}

a img:hover {
  outline: 2px solid var(--bg6);
}

img {
  display: block;
  margin: 1em 1em 1em 0;
}

/* Inline Text */
a {
  border-bottom: dotted 1px var(--link);
  color: var(--link);
  text-decoration: none;
}

a:hover {
  border: none;
  border-bottom: solid 1px var(--link);
}

body .inline_nickname {
  display: inline-block;
  line-height: 1;
  padding: 4px 3px;
  background: var(--bg4);
  border: 1px solid var(--bg6);
  border-radius: 3px;
}

/* Nickname Colors */
body *[colornumber='0'  ] { color: #718c00; }
body *[colornumber='1'  ] { color: #718c00; }
body *[colornumber='2'  ] { color: #3e999f; }
body *[colornumber='3'  ] { color: #8959a8; }
body *[colornumber='4'  ] { color: #4271ae; }
body *[colornumber='5'  ] { color: #c82829; }
body *[colornumber='6'  ] { color: #c82829; }
body *[colornumber='7'  ] { color: #3e999f; }
body *[colornumber='8'  ] { color: #8959a8; }
body *[colornumber='9'  ] { color: #c82829; }
body *[colornumber='10' ] { color: #718c00; }
body *[colornumber='11' ] { color: #eab700; }
body *[colornumber='12' ] { color: #718c00; }
body *[colornumber='13' ] { color: #3e999f; }
body *[colornumber='14' ] { color: #c82829; }
body *[colornumber='15' ] { color: #c82829; }
body *[colornumber='16' ] { color: #c82829; }
body *[colornumber='17' ] { color: #f5871f; }
body *[colornumber='18' ] { color: #eab700; }
body *[colornumber='19' ] { color: #718c00; }
body *[colornumber='20' ] { color: #3e999f; }
body *[colornumber='21' ] { color: #3e999f; }
body *[colornumber='22' ] { color: #8959a8; }
body *[colornumber='23' ] { color: #8959a8; }
body *[colornumber='24' ] { color: #c82829; }
body *[colornumber='25' ] { color: #718c00; }
body *[colornumber='26' ] { color: #4271ae; }
body *[colornumber='27' ] { color: #3e999f; }
body *[colornumber='28' ] { color: #eab700; }
body *[colornumber='29' ] { color: #c82829; }
body *[colornumber='30' ] { color: #8959a8; }
body *[colornumber='-1' ] { color: #718c00; }
body *[colornumber='-2' ] { color: #3e999f; }
body *[colornumber='-3' ] { color: #8959a8; }
body *[colornumber='-4' ] { color: #4271ae; }
body *[colornumber='-5' ] { color: #c82829; }
body *[colornumber='-6' ] { color: #c82829; }
body *[colornumber='-7' ] { color: #3e999f; }
body *[colornumber='-8' ] { color: #8959a8; }
body *[colornumber='-9' ] { color: #c82829; }
body *[colornumber='-10'] { color: #718c00; }
body *[colornumber='-11'] { color: #eab700; }
body *[colornumber='-12'] { color: #718c00; }
body *[colornumber='-13'] { color: #3e999f; }
body *[colornumber='-14'] { color: #c82829; }
body *[colornumber='-15'] { color: #c82829; }
body *[colornumber='-16'] { color: #c82829; }
body *[colornumber='-17'] { color: #f5871f; }
body *[colornumber='-18'] { color: #eab700; }
body *[colornumber='-19'] { color: #718c00; }
body *[colornumber='-20'] { color: #3e999f; }
body *[colornumber='-21'] { color: #3e999f; }
body *[colornumber='-22'] { color: #8959a8; }
body *[colornumber='-23'] { color: #8959a8; }
body *[colornumber='-24'] { color: #c82829; }
body *[colornumber='-25'] { color: #718c00; }
body *[colornumber='-26'] { color: #4271ae; }
body *[colornumber='-27'] { color: #3e999f; }
body *[colornumber='-28'] { color: #eab700; }
body *[colornumber='-29'] { color: #c82829; }
body *[colornumber='-30'] { color: #8959a8; }

/* mIRC Color Codes */
.effect[color-number='0']  { color: #ffffff; }
.effect[color-number='1']  { color: #000000; }
.effect[color-number='2']  { color: #000088; }
.effect[color-number='3']  { color: #008800; }
.effect[color-number='4']  { color: #ff0000; }
.effect[color-number='5']  { color: #880000; }
.effect[color-number='6']  { color: #880088; }
.effect[color-number='7']  { color: #ff8800; }
.effect[color-number='8']  { color: #ffff00; }
.effect[color-number='9']  { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0']  { background-color: #ffffff; }
.effect[bgcolor-number='1']  { background-color: #000000; }
.effect[bgcolor-number='2']  { background-color: #000088; }
.effect[bgcolor-number='3']  { background-color: #008800; }
.effect[bgcolor-number='4']  { background-color: #ff0000; }
.effect[bgcolor-number='5']  { background-color: #880000; }
.effect[bgcolor-number='6']  { background-color: #880088; }
.effect[bgcolor-number='7']  { background-color: #ff8800; }
.effect[bgcolor-number='8']  { background-color: #ffff00; }
.effect[bgcolor-number='9']  { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
