@charset "utf-8";

/* Variables */
:root {
  /* Generic shades, from darkest to lightest */
  --bg0: #252525;
  --bg1: #2a2a2a;
  --bg2: #303030;
  --bg3: #353535;
  --bg4: #3a3a3a;
  --bg5: #404040;
  --bg6: #505050;
  --mg0: #888;
  --fg0: #aaa;
  --fg1: #ccc;
  --fg2: #eee;

  /* Specific colors */
  --link: #8cb3ff;
  --notice: #ffff00;

  /* Dimensions */
  --topic-height: 2em;
}

/* Basic Body Structure */
body {
  background: var(--bg0);
  color: var(--fg2);
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

#body_home {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: calc(var(--topic-height) + 4px) 0 4px;
}

body[viewtype*=server] #body_home,
body[viewtype*=query] #body_home {
  /* No topic here. */
  padding: 4px 0;
}

/* Message Lines */
.line {
  display: -webkit-flex;
  -webkit-flex-flow: row;
}

.message,
.sender,
.time {
  padding: 6px 8px;
}

.message {
  width: 100%;
}

.sender,
.time {
  background: var(--bg2);
}

.sender {
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10em;
  font-weight: 400;
}

body[viewtype*=server] .sender {
  display: none;
}

.time {
  width: 6em;
  text-align: center;
  font-size: 0.8em;
  color: var(--mg0);
}

/* Make own messages stand out */
.line[nickname-type*=myself] .message {
  background: var(--bg1);
}

/* Make special messages blend in */
.line[type*=action] .message,
.line[type*=action] .sender {
  background: none;
  font-style: italic;
}

.event .sender {
  background: inherit;
}

body[viewtype*=channel] .event .message,
body[viewtype*=query] .event .message {
  color: var(--mg0);
}

body[viewtype*=server] .event .message {
  color: var(--fg0);
}

/* Make my highlights stand out */
.text[highlight*=true] .sender,
.text[highlight*=true] .message,
.text[highlight*=true] .time {
  background-color: var(--bg6);
}

/* Notices have a yellow bar */
body[viewtype*=notice] .sender {
  border-left: 4px solid var(--notice);
  width: calc(10em - 4px);
  color: var(--notice);
}

/* Horizontal lines */
.znc-playback-end {
  border-bottom: 1px dashed var(--mg0);
}

.znc-playback-start {
  border-top: 1px dashed var(--mg0);
}

#mark {
  border-bottom: 1px dotted var(--mg0);
  margin: 1px 0;
  -webkit-transition: 0.2s linear;
}

/* Loading Screen */
body div#loading_screen {
  pointer-events: none;
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40%;
  text-align: center;
  font-size: 2em;
  background: var(--bg0);
  color: var(--mg0);
  -webkit-transition: opacity 0.8s linear;
}

/* Topic Bar (scrollable, one-line) */
#topic_bar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topic-height);
  white-space: nowrap;
  overflow: auto;
  background: var(--bg1);
  border-bottom: 1px solid var(--bg5);
  color: var(--fg1);
  line-height: 1.8;
  padding: 4px 12px 2px;
}

/* Images */
a img {
  border: none;
}

a img:hover {
  outline: 2px solid var(--bg6);
}

img {
  margin-top: 1em;
}

/* Inline Text */
a {
  text-decoration: none;
  border-bottom: dotted 1px var(--link);
  color: var(--link);
}

a:hover {
  border-bottom: solid 1px var(--link);
}

body .inline_nickname {
  display: inline-block;
  line-height: 1;
  padding: 4px 3px;
  background: var(--bg4);
  border: 1px solid var(--bg6);
  border-radius: 3px;
}

/* Nickname Colors */
body *[colornumber='0'  ] { color: #EF9A9A; }
body *[colornumber='1'  ] { color: #F48FB1; }
body *[colornumber='2'  ] { color: #CE93D8; }
body *[colornumber='3'  ] { color: #B39DDB; }
body *[colornumber='4'  ] { color: #9FA8DA; }
body *[colornumber='5'  ] { color: #90CAF9; }
body *[colornumber='6'  ] { color: #81D4FA; }
body *[colornumber='7'  ] { color: #80DEEA; }
body *[colornumber='8'  ] { color: #80CBC4; }
body *[colornumber='9'  ] { color: #A5D6A7; }
body *[colornumber='10' ] { color: #C5E1A5; }
body *[colornumber='11' ] { color: #E6EE9C; }
body *[colornumber='12' ] { color: #FFF59D; }
body *[colornumber='13' ] { color: #FFE082; }
body *[colornumber='14' ] { color: #FFCC80; }
body *[colornumber='15' ] { color: #FFAB91; }
body *[colornumber='16' ] { color: #EF9A9A; }
body *[colornumber='17' ] { color: #F48FB1; }
body *[colornumber='18' ] { color: #CE93D8; }
body *[colornumber='19' ] { color: #B39DDB; }
body *[colornumber='20' ] { color: #9FA8DA; }
body *[colornumber='21' ] { color: #90CAF9; }
body *[colornumber='22' ] { color: #81D4FA; }
body *[colornumber='23' ] { color: #80DEEA; }
body *[colornumber='24' ] { color: #80CBC4; }
body *[colornumber='25' ] { color: #A5D6A7; }
body *[colornumber='26' ] { color: #C5E1A5; }
body *[colornumber='27' ] { color: #E6EE9C; }
body *[colornumber='28' ] { color: #FFF59D; }
body *[colornumber='29' ] { color: #FFE082; }
body *[colornumber='30' ] { color: #FFCC80; }

/* mIRC Color Codes */
.effect[color-number='0']  { color: #eaeaea; }
.effect[color-number='1']  { color: #353540; }
.effect[color-number='2']  { color: #677caa; }
.effect[color-number='3']  { color: #c8c350; }
.effect[color-number='4']  { color: #df898d; }
.effect[color-number='5']  { color: #b77174; }
.effect[color-number='6']  { color: #aa7595; }
.effect[color-number='7']  { color: #c8a585; }
.effect[color-number='8']  { color: #f0c69f; }
.effect[color-number='9']  { color: #f0ea60; }
.effect[color-number='10'] { color: #81b0c8; }
.effect[color-number='11'] { color: #9ad3f0; }
.effect[color-number='12'] { color: #7f99d2; }
.effect[color-number='13'] { color: #d290b8; }
.effect[color-number='14'] { color: #545466; }
.effect[color-number='15'] { color: #d8d8d8; }

.effect[bgcolor-number='0']  { background-color: #eaeaea; }
.effect[bgcolor-number='1']  { background-color: #353540; }
.effect[bgcolor-number='2']  { background-color: #677caa; }
.effect[bgcolor-number='3']  { background-color: #c8c350; }
.effect[bgcolor-number='4']  { background-color: #df898d; }
.effect[bgcolor-number='5']  { background-color: #b77174; }
.effect[bgcolor-number='6']  { background-color: #aa7595; }
.effect[bgcolor-number='7']  { background-color: #c8a585; }
.effect[bgcolor-number='8']  { background-color: #f0c69f; }
.effect[bgcolor-number='9']  { background-color: #f0ea60; }
.effect[bgcolor-number='10'] { background-color: #81b0c8; }
.effect[bgcolor-number='11'] { background-color: #9ad3f0; }
.effect[bgcolor-number='12'] { background-color: #7f99d2; }
.effect[bgcolor-number='13'] { background-color: #d290b8; }
.effect[bgcolor-number='14'] { background-color: #545466; }
.effect[bgcolor-number='15'] { background-color: #d8d8d8; }
