@charset "utf-8";

/* Variables */
:root {
  /* Core colors */
  --background: #222222;
  --middleground: #333;
  --faded: #666;
  --foreground: #eee;

  /* Attribute colors */
  --highlight: #555;
  --link: #6af;
  --notice: #ff0;

  /* Dimensions */
  --topic-height: 2em;
  --sender-width: 8rem;
  --time-width: 4rem;
}

/* Basic Body Structure */
body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

#body_home {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: calc(var(--topic-height) + 0.2rem) 0 0.2rem;
}

body[viewtype*=server] #body_home,
body[viewtype*=query] #body_home {
  /* No topic here. */
  padding: 0.2rem 0;
}

/* Loading Screen */
body div#loading_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2em;
  background: var(--background);
  color: var(--faded);
  transition: opacity 0.8s linear;
}

/* Topic Bar (scrollable, one-line) */
#topic_bar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topic-height);
  white-space: nowrap;
  overflow: auto;
  background: var(--middleground);
  border-bottom: 1px solid var(--faded);
  color: var(--foreground);
  line-height: 1.8;
  padding: 0.2rem 0.4rem;
}

/* Loading History */
#historic_messages {
  opacity: 0;
  transition: opacity 0.2s linear;
}

#historic_messages.loaded {
  opacity: 0.6;
}

/* Message Lines */
.line {
  display: flex;
  flex-flow: row;
}

.message,
.sender,
.time {
  padding: 0.5rem;
}

.message {
  flex: 1;
  word-break: break-all;
}

.sender,
.time {
  background: var(--middleground);
}

.sender {
  flex-basis: var(--sender-width);
  flex-shrink: 0;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body[viewtype*=server] .sender {
  display: none;
}

.time {
  flex-basis: var(--time-width);
  flex-shrink: 0;
  text-align: center;
  font-size: 0.8em;
  color: var(--faded);
}

/* Make own messages stand out */
.line[mtype*=myself] .message {
  background: var(--middleground);
}

/* Make special messages blend in */
.line[ltype*=action] .message,
.line[ltype*=action] .sender {
  background: none;
  font-style: italic;
}

.event .sender {
  background: inherit;
}

body[viewtype*=channel] .event .message,
body[viewtype*=query] .event .message {
  color: var(--faded);
}

body[viewtype*=server] .event .message {
  color: var(--faded);
}

/* Make my highlights stand out */
.line[highlight*=true] .sender,
.line[highlight*=true] .message,
.line[highlight*=true] .time {
  background-color: var(--highlight);
}

/* Notices have a yellow bar */
.line[ltype*=notice] .sender {
  flex-basis: calc(var(--sender-width) - 0.2rem);
  border-left: 0.2rem solid var(--notice);
  color: var(--notice);
}

/* Horizontal lines */
#mark {
  border-bottom: 1px dotted var(--faded);
  margin: 1px 0;
}

/* Images */
a.image-link, a.image-link:hover {
  border-bottom: none;
}

a.image-link img {
  margin-top: 1em;
  outline: 0.15rem solid;
  outline-color: rgba(0, 0, 0, 0);
  transition: outline-color 0.1s linear;
}

a.image-link img:hover {
  outline-color: var(--faded);
}

/* Inline Text */
a {
  text-decoration: none;
  border-bottom: dotted 1px var(--link);
  color: var(--link);
}

a:hover {
  border-bottom: solid 1px var(--link);
}

body .inline_nickname {
  display: inline-block;
  line-height: 1;
  padding: 0.2rem 0.1rem;
  background: var(--middleground);
  border: 1px solid var(--highlight);
  border-radius: 0.2rem;
}

/* Nickname Colors */
body *[colornumber='0'  ] { color: #EF9A9A; }
body *[colornumber='1'  ] { color: #F48FB1; }
body *[colornumber='2'  ] { color: #CE93D8; }
body *[colornumber='3'  ] { color: #B39DDB; }
body *[colornumber='4'  ] { color: #9FA8DA; }
body *[colornumber='5'  ] { color: #90CAF9; }
body *[colornumber='6'  ] { color: #81D4FA; }
body *[colornumber='7'  ] { color: #80DEEA; }
body *[colornumber='8'  ] { color: #80CBC4; }
body *[colornumber='9'  ] { color: #A5D6A7; }
body *[colornumber='10' ] { color: #C5E1A5; }
body *[colornumber='11' ] { color: #E6EE9C; }
body *[colornumber='12' ] { color: #FFF59D; }
body *[colornumber='13' ] { color: #FFE082; }
body *[colornumber='14' ] { color: #FFCC80; }
body *[colornumber='15' ] { color: #FFAB91; }
body *[colornumber='16' ] { color: #EF9A9A; }
body *[colornumber='17' ] { color: #F48FB1; }
body *[colornumber='18' ] { color: #CE93D8; }
body *[colornumber='19' ] { color: #B39DDB; }
body *[colornumber='20' ] { color: #9FA8DA; }
body *[colornumber='21' ] { color: #90CAF9; }
body *[colornumber='22' ] { color: #81D4FA; }
body *[colornumber='23' ] { color: #80DEEA; }
body *[colornumber='24' ] { color: #80CBC4; }
body *[colornumber='25' ] { color: #A5D6A7; }
body *[colornumber='26' ] { color: #C5E1A5; }
body *[colornumber='27' ] { color: #E6EE9C; }
body *[colornumber='28' ] { color: #FFF59D; }
body *[colornumber='29' ] { color: #FFE082; }
body *[colornumber='30' ] { color: #FFCC80; }

/* mIRC Color Codes */
.effect[color-number='0']  { color: #eaeaea; }
.effect[color-number='1']  { color: #353540; }
.effect[color-number='2']  { color: #677caa; }
.effect[color-number='3']  { color: #c8c350; }
.effect[color-number='4']  { color: #df898d; }
.effect[color-number='5']  { color: #b77174; }
.effect[color-number='6']  { color: #aa7595; }
.effect[color-number='7']  { color: #c8a585; }
.effect[color-number='8']  { color: #f0c69f; }
.effect[color-number='9']  { color: #f0ea60; }
.effect[color-number='10'] { color: #81b0c8; }
.effect[color-number='11'] { color: #9ad3f0; }
.effect[color-number='12'] { color: #7f99d2; }
.effect[color-number='13'] { color: #d290b8; }
.effect[color-number='14'] { color: #545466; }
.effect[color-number='15'] { color: #d8d8d8; }

.effect[bgcolor-number='0']  { background-color: #eaeaea; }
.effect[bgcolor-number='1']  { background-color: #353540; }
.effect[bgcolor-number='2']  { background-color: #677caa; }
.effect[bgcolor-number='3']  { background-color: #c8c350; }
.effect[bgcolor-number='4']  { background-color: #df898d; }
.effect[bgcolor-number='5']  { background-color: #b77174; }
.effect[bgcolor-number='6']  { background-color: #aa7595; }
.effect[bgcolor-number='7']  { background-color: #c8a585; }
.effect[bgcolor-number='8']  { background-color: #f0c69f; }
.effect[bgcolor-number='9']  { background-color: #f0ea60; }
.effect[bgcolor-number='10'] { background-color: #81b0c8; }
.effect[bgcolor-number='11'] { background-color: #9ad3f0; }
.effect[bgcolor-number='12'] { background-color: #7f99d2; }
.effect[bgcolor-number='13'] { background-color: #d290b8; }
.effect[bgcolor-number='14'] { background-color: #545466; }
.effect[bgcolor-number='15'] { background-color: #d8d8d8; }
