{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div 	ltype="{{lineType}}" 

{{^isRemoteMessage}}
		mtype="{{nicknameType}}"
{{/isRemoteMessage}}

{{#isEncrypted}}
		encrypted="true"
{{/isEncrypted}}

		command="{{command}}"
		highlight="{{highlightAttributeRepresentation}}" 
		class="line {{lineClassAttributeRepresentation}}" 
		id="line-{{lineNumber}}"
		timestamp="{{timestamp}}">
	
{{#isEncrypted}}
{{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}

	<span class="sender"
		onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
		oncontextmenu="Textual.openStandardNicknameContextualMenu()"
		mtype="{{nicknameType}}"
		nickname="{{nickname}}"
		{{#nicknameColorHashingEnabled}}
			{{#nicknameColorHashingIsStyleBased}}
				{{#nicknameColorStyleOverride}}
					coloroverride="true"
				{{/nicknameColorStyleOverride}}

				{{^ isEmpty(nicknameColorStyle) }}
				style="color: {{nicknameColorStyle}};"
				{{/ isEmpty(nicknameColorStyle) }}
			{{^nicknameColorHashingIsStyleBased}}
				colornumber="{{nicknameColorNumber}}"
			{{/nicknameColorHashingIsStyleBased}}
		{{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span>

	<span class="message" ltype="{{lineType}}">
		{{{formattedMessage}}}
		
		{{#inlineMediaAvailable}}
			{{#inlineMediaArray}}

			<div class="inlineImageCell" id="inlineImage-{{anchorInlineImageUniqueID}}" style="display: none;">
				<a href="{{anchorLink}}" onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}', true);">
					<img src="{{imageURL}}" class="image"
					title="Shift-click to hide."
					style="max-width: {{preferredMaximumWidth}}px;" />
				</a>
			</div>
			
			{{/inlineMediaArray}}
		{{/inlineMediaAvailable}}
	</span>

	<span class="time" title="{{localizedTimestamp}}">{{formattedTimestamp}} </span>
</div>
